* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

/* Home Page */

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #fff 80%, #f87ae3 20%);
}

.navigation {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top, #fff 80%, #f87ae3 20%);
}

.logo {
    width: 40vw;
    color: #fff;
    background-image: linear-gradient(#8d98e3 40%, #854fee 60%);
    padding-left: 4rem;
    box-sizing: border-box;
    border-radius: 1rem;
}

.logo h1{
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: idharudhar 1.5s linear infinite;
    animation-direction: alternate;
}

@keyframes idharudhar {
    from{
        padding-left: 3rem;
        padding-right: 10rem;
    }
}

nav {
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    font-size: 1.2rem;
    position: relative;
}

nav a:first-child {
    color: blue;
}

nav a:after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 0;
    height: 0.1rem;
    border-bottom: 0.15rem solid #4458dc;
    transition: all 0.3s linear;
}

nav a:hover:after {
    width: 100%;
}

main {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightside {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-color: #e8fbff;
}

.rightside img{
    max-width: 31rem;
    border-radius: 2rem;
    height: auto;
}

.leftside{
    color: #000;
    text-transform: uppercase;
}

.leftside h3{
    font-size: 2.5rem;
    margin-bottom: 1.4rem;
    position: relative;
}


.leftside h1{
    margin-top: 1.5rem;
    font-size: 3.12rem;
    margin-bottom: 2rem;
}

.leftside .btn0{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    display: inline-block;
    color: #fff;
    letter-spacing: 0;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    border: double 2px transparent;
    box-shadow: 0 0.5rem 1rem rgba(118, 85, 225, 0.3);
}

.leftside .btn0:hover{
    border: 2px solid #4458dc;
    color: #222;
    background-color: #fff;
    box-shadow: none;
    background-image: none;
}

/* About page */

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column1 img{
    width: 100%;
    border-radius: 2rem;
    height: auto;
}

.ab1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #fff 80%, #f87ae3 20%);
}

.content-wrapper {
    padding: 0;
    margin: 0;
    position: absolute;
}

.column1 {
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    position: relative;
}

.column2 h3 {
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
    position: relative;
}

.column1 h3 {
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
    position: relative;
}

.column2 p {
    font-size: 1.25rem;
    justify-content: space-between;
    align-items: center;
    padding-right: 6rem;
}

/* CP page */

.cp-content {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column2 li {
    font-size: 1.12rem;
    font-weight: 550;
    padding: 0.62rem;
}

.column1 li {
    font-size: 1.12rem;
    font-weight: 550;
    padding: 0.62rem;
}

.column1 .btns {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    display: inline-block;
    color: #fff;
    letter-spacing: 0;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    border: double 2px transparent;
    box-shadow: 0 0.5rem 1rem rgba(118, 85, 225, 0.3);
}

.column1 .btns:hover {
    border: 2px solid #4458dc;
    color: #222;
    background-color: #fff;
    box-shadow: none;
    background-image: none;
}

/* Contact Page */

.sc1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #fff 80%, #f87ae3 20%);
}

.contact-container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: auto;
}

.my-profiles {
    text-transform: uppercase;
    justify-content: center;
    /* letter-spacing: 0.25rem; */
    word-spacing: 1rem;
    text-align: center;
    margin-bottom: 3rem;
    background-image: linear-gradient(#8d98e3 40%, #854fee 60%);
    color: #fff;
    padding-left: 2rem;padding-right: 2rem;
    border-radius: 1rem;
}

.four-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-top: 1.5rem; */
}

.first-col {
    margin: 1rem 6rem 2rem 6rem;
    display: flex;
    flex-direction: column;
}

.second-col {
    margin: 1rem 6rem 2rem 6rem;
    display: flex;
    flex-direction: column;
}

.third-col {
    margin: 2rem 6rem 2rem 6rem;
    display: flex;
    flex-direction: column;
}

.forth-col {
    margin: 2rem 6rem 2rem 6rem;
    display: flex;
    flex-direction: column;
}

.four-box div >img {
    height: 6rem;
    width: 6rem;
}

.four-box div > a {
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.four-box .btns {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    padding: 0.6rem 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    display: inline-block;
    color: #fff;
    letter-spacing: 0;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%);
    border: double 2px transparent;
    box-shadow: 0 10px 30px rgba(118, 85, 225, 0.3);
}

.four-box .btns:hover{
    border: 2px solid #4458dc;
    color: #222;
    background-color: #fff;
    box-shadow: none;
    background-image: none;
}

.information {
    text-align: center;
    color: #000;
    font-size: 0.8rem;
}


/* Gallery Page */

.image-slide {
    width: 60%;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    background-image: url('P3.jpg');
    background-size: 100% 100%;
    animation: picture-change 20s infinite linear;
}

@keyframes picture-change {
    0%{
        background-image: url('P3.jpg');
    }
    33%{
        background-image: url('P4.jpg');
    }
    67%{
        background-image: url('P5.jpg');
    }
}

